<ion-view view-title="Contacts">
  <ion-content>
    <div class="list">
      <div class="item item-avatar-right" 
          ng-repeat="contact in contacts">
          
        <img src="http://api.adorable.io/avatars/40/fghjkewropesrop"/>
        <h2>{{contact.displayName}}</h2>
        <p ng-bind="contact.phoneNumbers[0].value|| 'No phone number'">
        </p>
        <p ng-bind="contact.emails[0].value||'No e-mail'">        
        </p>
        
      </div>
    </div>
  </ion-content>
</ion-view>
