<ion-view view-title="Settings">
  <ion-content class="padding" 
      style="background-color:{{bgColor}}">
    <form ng-submit="saveSettings()">
      <div class="list">
        <label class="item item-input">
          <div class="input-label">
            FirstName:
          </div>
          <input type="text" 
              placeholder="First Name" 
              ng-model="firstName">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Background color:
          </div>
          <select ng-model="bgColor" 
                  ng-options="color.value as color.name 
                  for color in colors">
          </select>
        </label>
      </div> 
      
      <button type="submit" class="button button-full button-stable">
        Save
      </button> 

    </form>
  </ion-content>
</ion-view>
