<ion-view view-title="Contacts">
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar-right
          item-remove-animate"
          type="item-text-wrap"
          ng-repeat="contact in contacts">
          
        <div class="avatar-circle"></div>
        <div class="avatar-hider"></div>
        
        <img class="item-image rated-avatar" ng-src="{{contact.photos[0].value}}"
            src="img/ic_contact_picture.png"/>
        
        <h2>{{contact.displayName}}</h2>
        <p ng-bind="contact.phoneNumbers[0].value|| 'No phone number'">
        </p>
        <p ng-bind="contact.emails[0].value||'No e-mail'">        
        </p>

        <ion-option-button class="button-assertive" ng-click="delete(contact)">
          Delete
        </ion-option-button>
        
      </ion-item>
    </ion-list>
    
  </ion-content>
</ion-view>
